*.o
*.obj
*.exe
*~
*.out

# pycaffe
*_lmdb
pycaffe/mnist/*.prototxt
pycaffe/alexnet/*.prototxt
pycaffe/alexnet/synset_words.txt
pycaffe/googlenet/*.prototxt
pycaffe/googlenet/synset_words.txt
*.caffemodel
*.solverstate

